.board{
    width: 70%;
    height: 70%;
    display:flex;
    position:relative;
}
.v-line,.h-line{
    background-color: black;
    position: absolute;
    height: 100%;
    width: 10px;
    border-radius: 2rem;
}
.h-line{
    height: 10px;
    width: 100%;
}
.--left{
    left: 33.3%;
}
.--right{
    right: 33.3%;
}
.--top{
    top: 33.3%;
}
.--bottom{
    bottom: 33.3%;
}
.board-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
}